BACKEND_HOST=
BACKEND_PORT=
DEBUG=
CORS_ORIGINS=
CLIENT_URI=

SPOTIFY_AUTH_URL=
SPOTIFY_TOKEN_URL=
SPOTIFY_CLIENT_ID=
SPOTIFY_REDIRECT_URI=
SPOTIFY_TOKEN_SCOPES=

COOKIE_SECRET=
COOKIE_SALT=
PKCE_COOKIE=
SESSION_COOKIE=
PKCE_COOKIE_MAX_AGE=
SESSION_COOKIE_MAX_AGE=
